CSS SECTIONS

/* ================================= 
  Base Element Styles
==================================== */

body {
    height: 100vh;
}

table {
    border-collapse: collapse;
    font-family: "Helvetica Now MT Text", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-width: 600px;
    margin: 0 auto;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Rows ---- */


/* ---- Columns ---- */

.col-1 {
    border-right: 0.7px solid black;
}

.food-col-1 {
    width: 140px;
}

.rating-col-1 {
    text-align: left;
    padding-left: 0.40rem;
}



/* ---- Layout Containers ---- */

thead {
    border-bottom: 0.7px solid black;
    background-color: #bebebe;
}

tbody {
    background-color: #dcdcdc;
}




/* ---- Page Elements ---- */

td {
    background-color: #fbfbfb;
    text-align: right;
    padding: .3rem 0.4rem .5rem 0;
    vertical-align: baseline;
}

th {
    font-weight: 600;
    text-align: left;
    padding: 0.4rem;
}

th,
td {
    border: 0.1px solid #a0a0a0;
    
}

caption {
    padding-bottom: .5rem;
    padding-right: 3rem;
}




/* ================================= 
  Media Queries
==================================== */
















