thead {
    border-bottom: 0.7px solid black;
    text-align: center;
    background-color: #bebebe;
}

tbody {
    background-color: #dcdcdc;
}

td {
    background-color: white;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 0.1px solid #a0a0a0;
    
}

