body {
    height: 100vh;
}

thead {
    border-bottom: 0.7px solid black;
    background-color: #bebebe;
}

tbody {
    background-color: #dcdcdc;
}

td {
    background-color: #fbfbfb;
    text-align: right;
    padding-right: 0.4rem;
}

th {
    font-weight: 600;
    text-align: left;
    padding: 0.25rem;
}

table {
    border-collapse: collapse;
    font-family: "Helvetica Now MT Text", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-width: 600px;
}

th,
td {
    border: 0.1px solid #a0a0a0;
    
}

.col-1 {
    border-right: 0.7px solid black;
}

.food-col-1 {
    width: 140px;
}

.rating-col-1 {
    text-align: left;
    padding-left: 0.40rem;
    padding-right: 0.05rem;
}
